<div class="container">
    <div class="row">
        {{#each beersArray}}
        {{> beerCard this}}
        <!--TO SHOW A PARTIAL that is in the folder views/partial. this is to refere to each palyer object-->
        {{/each }}
    </div>
</div>